@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-left">
        <li><a asp-area="" asp-controller="ShoppingCart" asp-action="Index">Cart</a></li>

    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li><a asp-area="" asp-controller="ShoppingCart" asp-action="Index">Cart</a></li>

    </ul>

}
