@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form asp-action="Index" method="get">
    <div class="form-actions no-color login-inpt-box">

        <p>
            User name or Email: <input type="text" name="UserNameInpt" class="user-inpt-box"/>
        </p>
        <br />
        <p>
            Password: <input type="password" name="PassInpt" class="pass-inpt-box"/>
        </p>
        <br />
        <input type="submit" class="btn btn-default" />
       
    </div>
</form>
